:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0 auto;
  display: block;
  background: linear-gradient(
    0deg,
    rgba(255, 160, 60, 1) 5%,
    rgba(141, 151, 255, 1) 100%
  );
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.homepage-link {
  color: rgb(71, 77, 115);
  text-align: center;
  display: block;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: rgb(242, 72, 72);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.img-weather {
  size: 400px !important;
}
.img-dog {
  display: block;
  margin: 0 auto;
}
.img-weth {
  padding-top: 40px;
  width: 600px !important;
}

@media (max-width: 819px) {
  .img-weather,
  .img-dog {
    size: 270px !important;
  }
  .email-link {
    font-size: 18px;
  }
  p,
  a,
  h2 {
    margin: 0 auto !important;
    display: block !important;
    text-align: center !important;
  }
}
